$mainColor: #43b1d2;
$menuColor: #494848;
$colorBanner: #cbd4e6;
$grayColor: #e5e9f2;
$textColor: #737677;
$greenButton: #37c3a8;
@mixin buttonStyle($bgColor, $color) {
  border: none;
  border-radius: 5px;
  background-color: $bgColor;
  color: $color;
  font-size: 11px;
  font-weight: bold;
  padding: 7px;
}
body {
  color: $textColor;
  font-family: lato, calibri, monospace;
}
.over-hover:hover {
  transition: opacity 800ms;
  opacity: .7;
}
@import "parts/header";
@import "parts/banner";
@import "parts/main_content";
@import "parts/carousel";
@import "parts/footer";

