$mainColor: #43b1d2;
$menuColor: #494848;
$colorBanner: #cbd4e6;
$grayColor: #e5e9f2;
$textColor: #737677;
$greenButton: #37c3a8;
@mixin buttonStyle($bgColor, $color) {
  border: none;
  border-radius: 5px;
  background-color: $bgColor;
  color: $color;
  font-size: 11px;
  font-weight: bold;
  padding: 7px;
}
body {
  color: $textColor;
  font-family: lato, calibri, monospace;
}

@import "parts/header";
@import "parts/banner";
@import "parts/main_content";
@import "parts/carousel";
@import "parts/footer";

.over-hover {
  transition: opacity 800ms;
}
.card-clinic {
  position: relative;
}
.over-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .0;
  transition: opacity 400ms;
}

.over-hover:hover {
  opacity: 0.4;
}


